{% load static %}
<header>
    <a href="/"><img class="logo" src="{% static 'assets/logo.png' %}" alt=" " /></a>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}" style="display:inline; margin-top: 30px;">
        {% csrf_token %}
        <span style="color: #171d25; margin-right: 5px;">Bem-vindo, {{ user.first_name }}</span><button style="background-color: #171d25; color: white; margin-right: 10px;" type="submit">Sair</button>
    </form>
    {% else %}
        <div>
            <form method="post" action="{% url 'login' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background-color: #171d25; color: white; margin-right: 10px;">Entrar</button>
            </form>
        </div>
    {% endif %}
</header>
<div style="background-color: #171d25; height: 1px; width: 100%;"></div>