{% load static %}

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<script>
    function inverter(){
        var select1 = document.getElementById('origin');
        var select2 = document.getElementById('destination');

        var option1 = select.options[select1.selectedIndex].value;
        var option2 = select.options[select2.selectedIndex].value;

        select1.options[select1.selectedIndex].value = option2;
        select2.options[select2.selectedIndex].value = option1;
    }
</script>

<div class="container container-destination">
    <div class="row">
        <div class="three columns">
            <form method="post" action="pesquisa/">
            {% csrf_token %}
            <h4 class="input-title">Saindo de:</h4>
            <!-- <img class="input-local-icon-1" src="{% static 'assets/local-icon.svg' %}" height="25px"> -->
            <select id="origin" name="origin" class="input-holder-local">
                <option value=""></option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- ARRUMAR -->
        <!-- <div class="one columns">
            <br>
            <a onclick=inverter() style="cursor: pointer;"><img src="{% static 'assets/icon-1.svg' %}" height="40px"></a>
        </div> -->
        <div class="three columns">
            <h4 class="input-title">Indo para:</h4>
            <!-- <img class="input-local-icon-2" src="{% static 'assets/local-icon.svg' %}" height="25px"> -->
            <select id="destination" name="destination" class="input-holder-local">
                <option value=""></option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="two columns">
            <h4 class="input-title">Ida:</h4>
            <input id="departure" name="departure" class="input-holder-date" type="date">
            <!-- <img class="input-date-icon" src="{% static 'assets/calendar-icon.svg' %}" height="25px"> -->
        </div>
        <div class="two columns">
            <h4 class="input-title">Volta:</h4>
            <input id="return" name="return" class="input-holder-date" type="date">
            <!-- <img class="input-date-icon" src="{% static 'assets/calendar-icon.svg' %}" height="25px"> -->
        </div>
        <div class="one columns">
            <br>
            <button type="submit" class="submit-btn" onclick=""><img class="submit-btn-img" src="{% static 'assets/magnifier-white-icon.svg' %}"></button>
        </div>
        </form>
    </div>
</div>