.container-destination{

    transform: translateY(-25%);
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px -1px 2px 1px rgba(0, 0, 0, 0.40);
}

@media (min-width: 750px) {
    .container-destination{
        transform: translateY(-50%);
    }
}

.container-destination  .row{
    padding: 25px;

}
.input-holder-local{
    width: 100%;
    height: 44px !important;
    margin-bottom: 0px;
    color: #FF7F0A;
    font-family: Montserrat;
    font-weight: bold;
    text-align: left;
    border-radius: 8px;
    border: 1px solid #C1C1C1;
    background: #FFF;
}

.input-title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    color: #424242;
    margin-bottom: 0;
    margin-left: 15px;
}

.submit-btn{
    border-radius: 8px;
    background: #171D25;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(10, 10, 10, 0.25);
    width: 100%;
    height: 44px !important;
    transition: background 1s;
    transition: transform 1s;
    transform: scale(1.0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.submit-btn-img{
    position: relative;
    top: -3px;
    left: -2px;
}

/* .input-local-icon-1 {
    position: absolute;
    top: 55px;
    left: 30px;
}

.input-local-icon-2 {
    position: absolute;
    top: 55px;
    left: 345px;
} */

/* .input-date-icon {
    position: relative;
    top: -35px;
    left: 10px;
} */

.input-holder-date {
    border-radius: 8px;
    border: 1px solid #C1C1C1;
    background: #FFF;
    margin-bottom: 0px;
    height: 44px !important;
    width: 100%;
    color: #FF7F0A;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
}

input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input[type='date']::-webkit-datetime-edit {
    font-size: 12px;
}

