{% load static %}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<div class="menu-container">
    <div class="input-row">
        <h4 class="input-title">Saindo de:</h4>
        <input class="input-holder-local" type="search"><img class="input-local-icon" src="{% static 'assets/local-icon.svg' %}" height="25px">
    </div>
    <div class="input-row">
        <br>
        <a href="/home"><img src="{% static 'assets/icon-1.svg' %}" height="40px"></a>
    </div>
    <div class="input-row">
        <h4 class="input-title">Indo para:</h4>
        <input class="input-holder-local" type="search"><img class="input-local-icon" src="{% static 'assets/local-icon.svg' %}" height="25px">
    </div>
    <div class="input-row">
        <h4 class="input-title">Data de ida:</h4>
        <input class="input-holder-date" type="date"><img class="input-date-icon" src="{% static 'assets/calendar-icon.svg' %}" height="25px">
    </div>
    <div class="input-row">
        <h4 class="input-title">Data de volta:</h4>
        <input class="input-holder-date" type="date"><img class="input-date-icon" src="{% static 'assets/calendar-icon.svg' %}" height="25px">
    </div>
    <div class="input-row">
        <br>
        <button class="submit-btn"><img src="{% static 'assets/magnifier-white-icon.svg' %}"></button>
    </div>
</div>