{% load static %}
<div class="container container-destination">
    <div class="row">
        <div class="three columns">
            <h4 class="input-title">Saindo de:</h4>
            <input class="input-holder-local"
                   type="search">
        </div>
        <div class="three columns">
            <h4 class="input-title">Indo para:</h4>
            <input class="input-holder-local"
                   type="search">
        </div>
        <div class="two columns">
            <h4 class="input-title">Data de ida:</h4>
            <input class="input-holder-local"
                   type="search">
        </div>
        <div class="two columns">
            <h4 class="input-title">Data de volta:</h4>
            <input class="input-holder-local"
                   type="search">
        </div>
        <div class="two columns">
            <button class="submit-btn"><img src="{% static 'assets/magnifier-white-icon.svg' %}"></button>
        </div>
    </div>
</div>