{% load static %}

{% for rota in rotas %}
{% for horario in rota.busschedule_set.all %}
<div class="card">
    <div class="container">
        <form action="{% url 'checkout' %}" method="GET">
            {% csrf_token %}
            <div class="one-third column">
                <div class="container">
                    <h6>PARTIDA: <span style="font-size: 24px; color: #FF7F0A;">{{ horario.hora }}</span></h6>
                    <input name="horario" type="hidden" value='{{ horario.hora }}'>
                    {% if rota.destination.image %}
                    <img src="{{ rota.destination.image.url }}" alt="{{ rota.destination.name }}" style="width:100%;">
                    {% else %}
                    <img src="{% static 'assets/sem-imagem.jpg' %}" alt="" style="width:100%">
                    {% endif %}
                </div>
            </div>
            <div class="one-third column">
                <div class="container">
                    <h6 style="margin: 0; color: white; border-bottom: 1px solid #FF7F0A;">ORIGEM:</h6>
                    <input name="origem" type="hidden" value='{{ rota.origin }}'>
                    <input name="origemlat" type="hidden" value='{{ rota.origin.latitude }}'>
                    <input name="origemlong" type="hidden" value='{{ rota.origin.longitude }}'>
                    <h6>{{ rota.origin }}</h6>
                    <h6 style="margin: 0; color: white; border-bottom: 1px solid #FF7F0A;">DESTINO:</h6>
                    <input name="destino" type="hidden" value='{{ rota.destination }}'>
                    <input name="destinolat" type="hidden" value='{{ rota.destination.latitude }}'>
                    <input name="destinolong" type="hidden" value='{{ rota.destination.longitude }}'>
                    <h6>{{ rota.destination }}</h6>
                </div>
            </div>
            <div class="one-third column">
                <div class="container">
                    <p style="margin: 0; color: white;">POR APENAS:</p>
                    <h4 style="color: #FF7F0A;">R$ <span style="color: white;">199,90</span></h4>
                    <input type="hidden" value=''>
                    <input style="background-color: #FF7F0A;color: white;" type="submit" value="SELECIONAR">
                </div>
            </div>
        </form>
    </div>
</div>
{% endfor %}
{% endfor %}