
.box{
        position: relative;
        display:grid;
        height: 800px;
        width: 100%;
        background-color: #ffffff;
        
}

.texto{
    position: relative;
    display: inline;
    height:100px;
    width: 100%;
    background-color: #171D25;
    
    text-align: center;
    
    

}

.ticket-up{
        padding: 5px;
        position: relative;
        display: flex;
        height: 150px;
        width: 400px;
        background-color: #FF7F0A;
        border-radius: 20px;
        left: 25%;
        
}
.texto-up{
    top: 10px;
    text-align: center;
    position: relative;
    display: block;
    left: 50px;

}
.logo-footer{
    position: relative;
    display: block;
    top: 30px;
    
    }
.ticket-dow{
    padding: 5px;
    position: relative;
    display: flex;
    height: 450px;
    width: 400px;
    background-color: #171D25;
    border-radius: 20px;
    left: 25%;
    bottom: 25px;
}