{% load static %}
<div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 20px; margin-bottom: 20px;">
    <div class="row card-ticket" style="background-color: #FF7F0A; border-radius: 20px; width: 400px; text-align: center;">
        <div class="one-half column">
            <div class="container" style="text-align: center; margin-top: 20px;">
                <img class="logo-footer" src="{% static 'assets/logo-footer.png' %}" alt="">
            </div>
        </div>
        <div class="one-half column">
            <div class="container" style="text-align: center; margin-top: 20px;">
                <h6 style="font-size: 24px; color: #171D25;" >Embarque:</h6>
                <h6 style="font-size: 24px; color: #171D25">{{ horario }}</h6>
            </div>
        </div>
    </div>
    <div class="row card-ticket" style="background-color: #171D25; border-radius: 20px; width: 400px; text-align: center;">
        <div class="row">
            <div class="one-half column">
                <div class="container" style="text-align: center; margin-top: 20px;">
                    <h6 style="font-size: 18px; color: #FF7F0A; margin-bottom: 0;">ORIGEM:</h6>
                    <h6 style="font-size: 24px; color: #ffffff">{{ origem }}</h6>
                </div>
            </div>
            <div class="one-half column">
                <div class="container" style="text-align: center; margin-top: 20px;">
                    <h6 style="font-size: 18px; color: #FF7F0A; margin-bottom: 0;">DESTINO:</h6>
                    <h6 style="font-size: 24px; color: #ffffff">{{ destino }}</h6>
                </div>
            </div>
        </div>
        <div class="row card-ticket" style="background-color: #171D25; border-radius: 20px; width: 400px; text-align: center; ;">
            <div class="one-half column">
                <div class="container" style="text-align: center;">
                    <h6 style="font-size: 18px; color: #FF7F0A; margin-bottom: 0;">PLATAFORMA:</h6>
                    <h6 style="font-size: 24px; color: #ffffff">A1</h6>
                </div>
            </div>
            <div class="one-half column">
                <div class="container" style="text-align: center;">
                    <h6 style="font-size: 18px; color: #FF7F0A; margin-bottom: 0;">POLTRONA:</h6>
                    <h6 style="font-size: 24px; color: #ffffff;">{{ poltrona }}</h6>
                </div>
            </div>
        </div>
        <div class="row card-ticket" style="background-color: #171D25; border-radius: 20px; width: 400px; text-align: center; ;">
            <div class="container" style="text-align: center;">
                <h6 style="font-size: 18px; color: #FF7F0A; margin-bottom: 0;">PASSAGEIRO:</h6>
                <h6 style="font-size: 24px; color: #ffffff;">{{ passageiro }}</h6>
            </div>
        </div>
        <div class="row card-ticket" style="background-color: #171D25; border-radius: 20px; width: 400px; text-align: center; ;">
            <div class="container" style="text-align: center;">
                
            </div>
        </div>
        <div class="row card-ticket" style="background-color: #171D25; border-radius: 20px; width: 400px; text-align: center; ;">
            <div class="container" style="text-align: center;">
                <h6 style="font-size: 18px; color: #FF7F0A ;">DOCUMENTO: <span>{{ cpf_passageiro }}</span> </h6>
            </div>
        </div>
        <div class="row card-ticket" style="background-color: #171D25; border-radius: 20px; width: 400px; text-align: center  ;">
            <div class="container" style="text-align: center;margin-top: 10px;margin-bottom: 20px;">
                <img src="{% static 'assets/qr-code.jpeg' %}" alt="" width="200px">
            </div>
        </div>
    </div>
</div>