{% load static %}
<div class="container">
    <div class="box">
        <div class="texto">
            <h2>Seu ticket de embarque:</h2>
        </div>
        <div class="ticket-up">
            <img class="logo-footer" src="{% static 'assets/logo-footer.png' %}" alt="">
            <div class="texto-up">
            <h3>Embarque:</h3>
            <h3>data</h3>
            </div>
        </div>
        <div class="ticket-dow">
            <div class="texto-up">
            
        </div>
    </div>
</div>