{% load static %}
<link rel="stylesheet"
      href="{% static 'banner.css' %}">
<div class="u-full-width">
    <div class="container ">
        <div class="row">
            <div class="one-half column img-div">
                <img id="img-banner" src="{% static 'assets/tienzinho-banner.png' %}">
            </div>
            <div class="one-half column">
                <h3 >VIAGENS DE ÔNIBUS MAIS BARATAS QUE A PASSAGEM DA RODOVIÁRIA</h3>
                <h3 class="banner-sub-title">Reserva fácil, com segurança e preço justo.</h3>
                <div class="banner-right-topics">
                    <div class="one-third column">
                        <img src="{% static 'assets/magnifier-orange-icon.svg' %}">
                        <span>Escolha a melhor data</span>
                    </div>
                    <div class="one-third column">
                        <img src="{% static 'assets/card-icon.svg' %}">
                        <span>Parcele em até 12x</span>
                    </div>
                    <div class="one-third column">
                        <img src="{% static 'assets/security-icon.svg' %}">
                        <span>Compra 100% segura</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>