{% load static %}
<div class="banner">
    <div class="banner-left">
        <img src="">
    </div>
    <div class="banner-right">
        <h1 class="banner-right-title">Viagens de ônibus mais baratas que a passagem da rodoviária</h1>
        <h3>Reserva fácil, com segurança e preço justo</h3>
        <hr/>
        <div class="banner-right-topics">
            <h4>Escolha a melhor data</h4>
            <h4>Parcele em até 12x</h4>
            <h4>Compra 100% segura</h4>
        </div>
        </div>
    </div>
</div>