{% load static %}
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<div class="banner">
    <div class="banner-left">
        <img src="{% static 'assets/tien.svg' %}">
    </div>
    <div class="banner-right">
        <h1 class="banner-right-title">Viagens de ônibus mais baratas que a passagem da rodoviária</h1>
        <h3>Reserva fácil, com segurança e preço justo</h3>
        <hr/>
        <div class="banner-right-topics">
            <img src="{% static 'assets/magnifier-orange-icon.svg' %}"><h4>Escolha a melhor data</h4>
            <img src="{% static 'assets/card-icon.svg' %}"><h4>Parcele em até 12x</h4>
            <img src="{% static 'assets/security-icon.svg' %}"><h4>Compra 100% segura</h4>
        </div>
        </div>
    </div>
</div>