h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: white;
}

.banner-sub-title{
    font-weight: 100 !important;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
    margin-bottom: 10px;
}
.u-full-width {
  background-color: #171d25;
  padding: 20px 20px 0 20px;
}
@media screen and (max-width: 767px) {
  .img-div {
    height: 150px;
   /* background: red;*/
    display: flex;
  }
  #img-banner {
    align-self: flex-end;
    width: 100%;
  }

  .banner-right-topics{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    margin-bottom: 30px;
  }
  .banner-right-topics img{
    height: 20px;
    align-items: right;
  }
}
.banner-right-topics span{
margin-right: 10px;
}

.row-banner{
  padding: 50px 0px;
}