{% load static %}

<div class="container">
    <h3 style="color: #171D25;">Possíveis destinos</h3>
    <div class="grid-container">
        {% if locations %}
            {% for location in locations %}
                <div class="grid-item">
                    {% if location.image %}
                        <img src="{{ location.image.url }}" alt="{{ location.name }}">
                    {% else %}
                        <img src="{% static 'assets/sem-imagem.jpg' %}" alt="{{ location.name }}">
                    {% endif %}
                    <p>{{ location.name }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>