{% load static %}
<div class="container" style=" text-align: center; margin-top: 20px; margin-bottom: 20px;">    
    <div class="container" style="background-color: #171d25; box-shadow: 0px 4px 4px 2px rgb(0, 0, 0); border-radius: 10px;">
        <div style="align-items: center; justify-content: center; padding: 10px;">
            <h3 style="text-align: left; border-bottom: 3px solid #FF7F0A;">Cartões de Crédito</h3>
            <form action="{% url 'confirmacao_pagamento' %}" method="get">
                {% csrf_token %}
                <div class="row" style="margin-top: 10px;">
                    <div class="three columns">
                        <img src="{% static 'assets/visa-icon.png' %}" alt="">                    
                    </div>
                    <div class="three columns">
                        <img src="{% static 'assets/mastercard-icon.png' %}" alt="">
                    </div>
                    <div class="three columns">
                        <img src="{% static 'assets/maestro-icon.png' %}" alt="">
                    </div>                    
                    <div class="three columns">
                        <img src="{% static 'assets/america-icon.png' %}" alt="">                    
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="six columns">
                        <input name="nome" class="u-full-width" type="text" id="cardholder_name" style="margin-bottom: 10px;" placeholder="Nome do Titular" required/>
                    </div>
                    <div class="six columns">
                        <input name="card_number" class="u-full-width" type="text" id="card_number" style="margin-bottom: 10px;" placeholder="Número do Cartão" required />
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <input name="cpf" class="u-full-width" type="text" id="cpf" name="cpf" style="margin-bottom: 10px;" placeholder="CPF " required/>
                    </div>
                    <div class="six columns">
                        <input name="card_expiration" class="u-full-width" type="text" id="card_expiration" name="card_expiration" style="margin-bottom: 10px;" placeholder="MM/AA" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <input name="times" class="u-full-width" type="text" id="times" name="times" style="margin-bottom: 10px;" placeholder="Parcelamento" required/>
                    </div>
                    <div class="six columns">
                        <input name="cvc" class="u-full-width" type="text" id="times" name="times" style="margin-bottom: 10px;" placeholder="CVC" required/>
                    </div>
                </div>
        </div>
    </div>
</div>
<input name="horario" type="hidden" value="{{ horario }}">
<input name="poltrona" type="hidden" value="{{ poltrona }}">
<input name="origem" type="hidden" value="{{ origem }}">
<input name="destino" type="hidden" value="{{ destino }}">
<input name="passageiro" type="hidden" value="{{ passageiro }}">
<input name="cpf_passageiro" type="hidden" value="{{ cpf_passageiro }}">
<input name="rota_id" type="hidden" value="{{ rota_id }}">
<input name="horario_id" type="hidden" value="{{ horario_id }}">
<input name="poltrona_id" type="hidden" value="{{ poltrona_id }}">
<div class="container" style="margin-top: 20px; margin-bottom: 20px; text-align: center;">
    <button type="submit" style="background-color: #171d25; color: #FFFFFF; border: none; border-radius: 8px; cursor: pointer; width: 220px;">Finalizar Compra</button>
</div>
</form>

