{% load static %}
<div class="container" style=" text-align: center; margin-top: 20px; margin-bottom: 20px;">    
    <div class="container" style="background-color: #171d25; box-shadow: 0px 4px 4px 2px rgb(0, 0, 0); border-radius: 10px;">
        <div style="align-items: center; justify-content: center; padding: 10px;">
            <h3 style="text-align: left; border-bottom: 3px solid #FF7F0A;">PIX</h3>
            <form action="{% url 'home' %}">
                {% csrf_token %}
                <div class="row">
                    <img src="{% static 'assets/qr-code.jpeg' %}" alt="" width="200">
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="four columns">
                        <img src="{% static 'assets/Círculo1.png' %}" alt="" width="35">      
                        <h6>Abra o app do seu banco na opção PIX</h6>
                    </div>
                    <div class="four columns">
                        <img src="{% static 'assets/Círculo2.png' %}" alt="" width="35">   
                        <h6>Escaneie o código QR ou copie e cole o código</h6>
                    </div>
                    <div class="four columns">
                        <img src="{% static 'assets/Círculo3.png' %}" alt="" width="35"> 
                        <h6>Confirme os dados e conclua a compra</h6>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 20px; text-align: center; padding-bottom: 20px;">
    <button type="submit" style="background-color: #171d25; color: #FFFFFF; border: none; border-radius: 8px; cursor: pointer; width: 220px;">Finalizar Compra</button>
</div>
</form>