.grid-container-seatchart {
    margin-left: 40px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-row-gap: 1px;
    grid-column-gap: 10px;
}

.grid-item-seatchart img{
    height: 50px;
    margin-top: -95px;
}