{% load static %}
<script src="https://kit.fontawesome.com/52d98fe718.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<footer>
    <div class="top-footer">
        <img class="logo-footer" src="{% static 'assets/logo-footer.png' %}" alt="">
        <div>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
        </div>
    </div>
    <hr/>
    <div class="middle-footer">
        <div>
            <h4>Cartões de Crédito</h4>
            <img src="{% static 'assets/visa-icon.png' %}" alt="">
            <img src="{% static 'assets/mastercard-icon.png' %}" alt="">
            <img src="{% static 'assets/maestro-icon.png' %}" alt="">
            <img src="{% static 'assets/america-icon.png' %}" alt="">
        </div>
        <div>
            <h4>Transferência Bancária</h4>
            <img src="{% static 'assets/transferencia-bancaria.png' %}" alt="">
        </div>
        <div>
            <h4>Pix</h4>
            <img src="{% static 'assets/pix-bc-logo.png' %}" alt="">
        </div>
    </div>
    <hr/>
    <div class="bottom-footer">
        <h4>© Grupo 2 - Princípios de Engenharia de Software - 2023.2</h4> 
        <h4>Todos os direitos reservados</h4>
    </div>
</footer>