footer{
    display: flex;
    flex-direction: column;
    background-color: #171D25;
    color: white;
}

hr {
    border-top: 1px solid white;
    width: 98%;
}

.logo-footer{
    height: 100px;
    width: 100px;
}

.top-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-size: 32px;
}

.middle-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    font-family: Poppins;
}

.bottom-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-family: Montserrat;
}

.footer-text{
    text-align: center;
}