<!DOCTYPE html>
<html lang="en">
{% load component_tags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber de Ônibus - Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    {% component_css_dependencies %}
</head>

<script>

</script>

<body>
    {% component "header" %}
    <div class="register">
        <h1>Cadastre-se e Viaje com a Uber de Ônibus</h1>
        <form>
            <h4>Infome seus dados pessoais</h4>
            <div class="register-input-div">
                <input class="register-input" placeholder="Nome Completo"/>
            </div>
            <div class="register-input-div">
                <input class="register-input" placeholder="CPF"/>
                <input class="register-input" placeholder="Telefone"/>
                <input class="register-input" placeholder="Data de Nascimento"/>
            </div>
            <div class="register-input-div">
                <input class="register-input" placeholder="Email"/>
                <input class="register-input" placeholder="Confirme o Email"/>
            </div>
            <div class="register-input-div">
                <input class="register-input" type="password" placeholder="Senha"/>
                <input class="register-input" type="password" placeholder="Confirme a Senha"/>
            </div>
            <h4>Informações Opcionais</h4>
            <div class="register-input-div">
                <input class="register-input" placeholder="Endereço"/>
                <input class="register-input" placeholder="Número"/>
                <input class="register-input" placeholder="Complemento"/>
            </div>
            <div class="register-input-div">
                <input class="register-input" placeholder="CEP"/>
                <input class="register-input" placeholder="Bairro"/>
                <input class="register-input" placeholder="Cidade"/>
                <input class="register-input" placeholder="Estado"/>
            </div>
            <button class="button">Confirmar</button>
        </form>
    </div>
    {% component "footer" %}
</body>

</html>