<!DOCTYPE html>
<html lang="en">
{% load component_tags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber de Ônibus - Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo-footer.png' %}">
    {% component_css_dependencies %}
</head>

<script>

</script>

<body>
    {% component "header" %}
    <div class="container" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <h3 style="color: #171d25; margin-bottom: 30px; text-decoration: underline; text-decoration-color: #FF7F0A;">Cadastre-se e Viaje com a Uber de Ônibus</h3>
        <div class="container" style="
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.55);
        border-radius: 10px;
        ">
            <form method="post">
                {% csrf_token %}
                <h5 style="color: #171d25; border-bottom: 3px solid #FF7F0A;">Infome seus dados pessoais</h5>
                <div class="row">
                    <div class="six columns">
                        <input name="nome" class="u-full-width" type="text" placeholder="Nome Completo"/>
                    </div>
                    <div class="three columns">
                        <input name="cpf" class="u-full-width" type="text" placeholder="CPF"/>
                    </div>
                    <div class="three columns">
                        <input name="data_nascimento" class="u-full-width" type="text" placeholder="Data de Nascimento"/>
                    </div>
                </div>
                <div class="row">
                    <div class="one-half column">
                        <input name="email" class="u-full-width" type="email" placeholder="Email"/>
                    </div>
                    <div class="one-half column">
                        <input name="confirma_email" class="u-full-width" type="email" placeholder="Confirme o Email"/>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        <input name="telefone" class="u-full-width" type="tel" placeholder="Telefone"/>
                    </div>
                    <div class="four columns">
                        <input name="password" class="u-full-width" type="password" placeholder="Senha"/>
                    </div>
                    <div class="four columns">
                        <input name="confirma_password" class="u-full-width" type="password" placeholder="Confirme a Senha"/>
                    </div>
                </div>

                <h5 style="color: #171d25; margin-top: 10px; border-bottom: 3px solid #FF7F0A;">Informações Opcionais</h5>
                <div class="row">
                    <div class="three columns">
                        <input name="cep" class="u-full-width" type="text" placeholder="CEP"/>
                    </div>
                    <div class="nine columns">
                        <input name="endereco" class="u-full-width" type="text" placeholder="Endereço"/>
                    </div>
                </div>
                <div class="row">
                    <div class="five columns">
                        <input name="numero" class="u-full-width" type="text" placeholder="Número"/>
                    </div>
                    <div class="five columns">
                        <input name="complemento" class="u-full-width" type="text" placeholder="Complemento"/>
                    </div>
                    <div class="two columns">
                        <input name="estado" class="u-full-width" type="text" placeholder="Estado"/>
                    </div>
                </div>
                <div class="row">
                    <div class="one-half column">
                        <input name="bairro" class="u-full-width" type="text" placeholder="Bairro"/>
                    </div>
                    <div class="one-half column">
                        <input name="cidade" class="u-full-width" type="text" placeholder="Cidade"/>
                    </div>
                </div>
                <input style="background-color: #171D25; color: white;" type="submit" value="Confirmar">
            </form>
        </div>
    </div>
    {% component "footer" %}
</body>

</html>