<!DOCTYPE html>
<html lang="en">
{% load component_tags %}
{% load static %}
{% csrf_token %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber de Ônibus - Checkout</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo-footer.png' %}">
    {% component_css_dependencies %}
</head>
<body>
    {% component "header" %}
    <div style="text-align: center; background-color: #171D25; padding-top: 50px; padding-bottom: 40px;">
        <h3>Resumo de Compra</h3>
    </div>
    {% component "checkout-card" %}
    {% if user.is_authenticated %}
        <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
            <h5 style="color: #171d25;  border-bottom: 3px solid #FF7F0A;">Dados da Passagem:</h5>
            <form action="{% url 'pagamento' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="eight columns">
                        <input name="passageiro" class="u-full-width" type="text" value="{{ user.first_name }}" readonly>
                    </div>
                    <div class="four columns">
                        <input name="cpf_passageiro" class="u-full-width" type="text" value="{{ user.last_name }}" readonly>
                    </div>
                </div>
                <input style="background: #171d25; color: white;" type="submit" value="Confirmar Dados do Passageiro">
            </form>
        </div>
    {% else %}
        <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
            <h5 style="color: #171d25;  border-bottom: 3px solid #FF7F0A;">Dados da Passagem:</h5>
            <form action="{% url 'pagamento' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="six columns">
                        <input name="passageiro" class="u-full-width" type="text" placeholder="Nome do Passageiro" required>
                    </div>
                    <div class="three columns">
                        <input name="cpf_passageiro" class="u-full-width" type="text" placeholder="CPF" required>
                    </div>
                    <div class="three columns">
                        <input name="nascimento_passageiro" class="u-full-width" type="text" placeholder="Data de Nascimento" required>
                    </div>
                </div>
                <div class="row">
                    <div class="eight columns">
                        <input name="email_passageiro" class="u-full-width" type="text" placeholder="Email" required>
                    </div>
                    <div class="four columns">
                        <input name="tel_passageiro" class="u-full-width" type="text" placeholder="Telefone/Celular" required>
                    </div>
                </div>
                <input style="background: #171d25; color: white;" type="submit" value="Confirmar Dados do Passageiro">
            </form>
        </div>
    {% endif %}
    {% component "footer" %}
</body>
</html>