<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uber de onibus</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <header>
        
            <img src="logo.jpg" alt="" class="logoimg">
       
      
            <nav class="menu">
                <a href="">Buscar</a>
                <a href="">Ajuda</a>
                <a href="">Entrar</a>
            </nav>
        
    </header>
    
    <section class="home">

        <div class="foto">
            
        </div>
        <div class="passagem">
            
            <div>
            <p>Saindo De</p>
            <input placeholder="Digite a cidade de origem" type="text" id="Saindo De">
            </div>
            <div>
            <p>Indo para</p>
            <input placeholder="Digite a cidade de destino" type="text" id="Indo para">
            </div>
            <div>
            <p>Data Ida</p>
            <input placeholder="." type="date" class="date" id="dat" min="20-09-2023" >
            </div>
            <div>
            <p>Data Volta</p>
            <input placeholder="." type="date" class="date" id="date" >
            </div>
            
            <div class="btpes">
            <button title="0"><i class='bx bx-search'></i></button>
            </div>
            


        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>