<!DOCTYPE html>
<html lang="en">
{% load component_tags %}
{% load static %}

<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber de Ônibus - Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% component_css_dependencies %}
</head>

<script>

</script>

<body>
    {% component "header" %}
    <div class="login">
        <h1>Acesse sua conta</h1>
        <div class="form">
            <form>
                <h4>Email</h4><input class="entrada" />
                <h4>Senha</h4><input class="entrada" />
                <button class="button">Entrar</button>
                <a href="/cadastro" class="cadastro">Não possui conta? Clique aqui!</a>
            </form>
        </div>
    </div>
</body>

</html>