<!DOCTYPE html>
<html lang="en">
{% load component_tags %}
{% load static %}

<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber de Ônibus - Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo-footer.png' %}">
    {% component_css_dependencies %}
</head>

<script>

</script>

<body>
    {% component "header" %}
    <div class="login">
        <h1>Acesse sua conta</h1>
        <form>
            <img class="user" src="{% static 'assets/user-icon.png' %}" alt=""><input class="entrada" placeholder="CPF ou Email"/>
            <img class="pwd" src="{% static 'assets/pwd-icon.png' %}" alt=""><input class="entrada" type="password" placeholder="Senha"/>
            <button class="button">Entrar</button>
            <a href="/cadastro" class="cadastro">Não possui conta? Clique aqui!</a>
        </form>
    </div>
    {% component "footer" %}
</body>

</html>