{% if dinamico%} {% for local in rotas %}
<option value="{{ local.destination.id }}">
  {{ local.destination }} - {{ local.destination.estado }}
</option>
{% endfor %} {%endif%} {% if not dinamico %}
<!DOCTYPE html>
<html lang="en">
  {% load component_tags %} {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uber de Ônibus - Pesquisa</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/logo-footer.png' %}"
    />
    {% component_css_dependencies %}
  </head>
  <body>
    {% component "header" %}
    <div style="background-color: #171d25; padding-top: 100px">
      {% component "destinations-menu" %}
      <div class="container">
        <div class="row data-dias-picker" style="background-color: white; border-radius: 10px; padding: 10px;">
          {{data}}
    
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h6 style="color: #171d25; padding-top: 10px">
          Ônibus de: {{nome_rota}}
        </h6>
      </div>
      <div class="row">{% component "details-card" %}</div>
    </div>
    {% component "footer" %}

    <script>
     const diasSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];
      const controle = document.getElementsByClassName("data-dias-picker")[0];
      console.log(controle.innerHTML);
      const partesData = controle.innerText.split('-');
     
      const nomediaAnterior = diasSemana[new Date(partesData[0],partesData[1]- 1,parseInt(partesData[2])-1).getDay()] + ' - '  +[parseInt(partesData[2])-1]  + '/' + partesData[1];
      const nomedia = diasSemana[new Date(partesData[0], partesData[1] - 1, partesData[2]).getDay()] + ' - ' + partesData[2] + '/' + partesData[1];
      const nomediaSeguinte = diasSemana[new Date(partesData[0],partesData[1]- 1,parseInt(partesData[2])+1).getDay()]  + ' - '  + [parseInt(partesData[2])+1] + '/' + partesData[1];
      
      controle.innerHTML = '<div class="one-third column">' + nomediaAnterior + '</div>'   + '<div class="one-third column">' + nomedia + '</div>' + '<div class="one-third column">' + nomediaSeguinte + '</div>'
      console.log(nomedia);
    </script>

  </body>
</html>
{%endif%}
