{% if dinamico%}
                        {% for local in rotas %}
                         <option value="{{ local.destination.id }}">{{ local.destination }} - {{ local.destination.estado }}</option>
                        {% endfor %}
                    {%endif%}

{% if not dinamico %}
<!DOCTYPE html>
<html lang="en">
{% load component_tags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber de Ônibus - Home</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo-footer.png' %}">
    {% component_css_dependencies %}
</head>
<body>
    {% component "header" %}
    <div style="background-color: #171D25; padding-top: 100px;">
        {% component "destinations-menu" %}
    </div>
    {% component "details-card" %}
    {% component "footer" %}
</body>
</html>
{%endif%}