<!DOCTYPE html>
<html lang="en">
{% load component_tags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber de Ônibus - Home</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo-footer.png' %}">
    {% component_css_dependencies %}
</head>
<body>
    {% component "header" %}
    <div style="background-color: #171D25; padding-top: 100px;">
        {% component "destinations-menu" %}
    </div>
    <div class="container">
        {% for rota in rotas %}
            <img style="position: relative; top: 45px; right: 55px;" src="{% static 'assets/arrow-icon.png' %}" alt="" width="48px">                        
            <h4 style="color: #171D25; font-size: 20px;">Ônibus de {{ rota.origin }} para {{ rota.destination }}</h4>
            <h4>Horários:</h4>
            <ul>
                {% for horario in rota.busschedule_set.all %}
                    <li>{{ horario.schedule }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    {% component "footer" %}
</body>
</html>