{% load static %}
<!-- style="background-color: #171D25; color: white; border-radius: 15px;" -->
<div class="container">
    <h1>Lista de Poltronas</h1>
    <p>Rota: {{ lista_poltronas.rota.nome }} - Horário: {{ lista_poltronas.horario.hora }} - Dia: {{
        lista_poltronas.dia.nome }}</p>
    <ul>
        {% for poltrona in lista_poltronas.poltronas.all %}
        <li>
            {{ poltrona }}
            <form method="post" action="{% url 'selecionar_poltrona' lista_poltronas.id poltrona.id %}">
                {% csrf_token %}
                <button type="submit">
                    {% if poltrona in lista_poltronas.poltronas.all %}
                    Desselecionar
                    {% else %}
                    Selecionar
                    {% endif %}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>