{% load static %}
<!-- style="background-color: #171D25; color: white; border-radius: 15px;" -->
<div class="container">
    <h1>Lista de Poltronas</h1>
    <h1>Detalhes do Horário</h1>
    <p>Rota: {{ horario.route.name }}</p>
    <p>Horário: {{ horario.schedule }}</p>
    
    <h2>Poltronas</h2>
    <ul>
        {% for poltrona in horario.poltronas.all %}
        <li>Poltrona {{ poltrona.numero }} - {% if poltrona.ocupada %}Ocupada{% else %}Disponível{% endif %}</li>
        {% endfor %}
    </ul>
</div>