{% load static %}
<!-- style="background-color: #171D25; color: white; border-radius: 15px;" -->
<div class="container">
    <h1>Lista de Poltronas</h1>
    <h1>Detalhes do Horário</h1>
    <p>Rota: {{ rota.name }}</p>
    <h5 style="color: #171d25; margin-top: 10px; border-bottom: 3px solid #FF7F0A;">Horários:</h5>
    {% for horario in horarios %}
        <p>Horário: {{ horario.hora }}</p>
    {% endfor %}
    
    <h5 style="color: #171d25; margin-top: 10px; border-bottom: 3px solid #FF7F0A;">Poltronas</h5>
    {% for poltrona in poltronas %}
        <p>Poltrona {{ poltrona.numero }} - {% if poltrona.passageiro %}Ocupada - poltrona.passageiro.nome{% else %}Disponível{% endif %}</p>
    {% endfor %}
</div>