.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    max-width: 60%;
    margin: 30px auto;
    background-color: #171D25;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 50%;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 90%;
    max-width: 80%;
}

.container {
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 100%;
    }
    .map {
        max-width: 100%;
    }
}