{% load static %}
<div class="card">
    <div id="map">
        {{ mapa_html | safe }}
    </div>
    <form action="{% url 'checkout' %}" method="GET">
            {% csrf_token %}
            <div class="one-third column">
                <div class="container" style="text-align: left;">
                    <h6>PARTIDA: <span style="font-size: 24px; color: #FF7F0A;">{{ horario }}</span></h6>
                    <h6>POLTRONA: <span style="font-size: 24px; color: #FF7F0A;">{{ poltrona }}</span></h6>
                </div>
            </div>
            <div class="one-third column">
                <div class="container" style="text-align: center;">
                    <h6 style="margin: 0; color: white; border-bottom: 1px solid #FF7F0A;">ORIGEM:</h6>
                    <h6>{{ origem }}</h6>
                    <h6>{{ rota.origin }}</h6>
                    <h6 style="margin: 0; color: white; border-bottom: 1px solid #FF7F0A;">DESTINO:</h6>
                    <h6>{{ destino }}</h6>
                </div>
            </div>
            <div class="one-third column">
                <div class="container" style="text-align: right;">
                    <p style="margin: 0; color: white;">POR APENAS</p>
                    <h4 style="color: #FF7F0A;">R$ <span style="color: white;">{{ preco }}</span></h4>
                </div>
            </div>
        </form>
    </div>
</div>