.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 80%;
    margin: 30px auto;
    background-color: #171D25;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.container {
    padding: 2px 16px;
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}