.card-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 60%;
    margin: 30px auto;
    background-color: #171D25;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 70%;
}

.card-details img {
    width: 100%;
    height: auto;
}

.container {
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 90%;
    }
}